@model House_Utiliti_Service.ViewModel.WorkEditModel
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Edit", "Works", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.WorkId)

            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.CustomerName, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.CustomerAddress, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.CustomerAddress, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.CustomerAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.WorkDescription, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.WorkDescription, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.WorkDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.WorkAreaId, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.DropDownListFor(x => x.WorkAreaId, new SelectList(ViewBag.workAreas, "WorkAreaId", "WorkAreaName"), "Select", new { @class = "form-select form-select-sm" })
                    @Html.ValidationMessageFor(x => x.WorkAreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.StartDate, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.EndDate, new { @class = "col-form-label col-form-label-sm col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(x => x.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        }
    </div>
    <div class="col-12">

        @Html.ActionLink("Back to list", "Index")
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



}



