@model IEnumerable<House_Utiliti_Service.Models.WorkerPayment>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h3>Products</h3>
        <div class="d-flex justify-content-end mb-1">
            @Html.ActionLink("Add New", "Create", "WorkerPayments", new { }, new { @class = "btn btn-primary btn-sm" })
        </div>
        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.WorkerPictur)</th>
                    <th>@Html.DisplayNameFor(x => x.Worker.WorkerName)</th>
                    <th>@Html.DisplayNameFor(x => x.TotalWorkHour)</th>
                    <th>@Html.DisplayNameFor(x => x.TotalPayment)</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td><img src="~/Uploads/@b.WorkerPictur" class="rounded-circle" style="width:40px" /></td>
                        <td>@Html.DisplayFor(x => b.Worker.WorkerName)</td>
                        <td>@Html.DisplayFor(x => b.TotalWorkHour)</td>
                        <td>@Html.DisplayFor(x => b.TotalPayment)</td>
                   


                        <td>
                            @Html.ActionLink("Edit", "Edit", "WorkerPayments", new { id = b.PaymentId }, new { @class = "btn btn-secondary btn-sm" })
                            <a href="@Url.Action("Delete", "WorkerPayments", new {id=b.PaymentId})" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

